name: Build
on:
  push:
    branches: 
      - '**' # matches all branch
  pull_request:
    branches:
      - '**' # matches all branch
  schedule:
    branches: 
      - master
      - cron: '0 22 * * 6'  # every week at 22:00 on Saturday

jobs: 
  build:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        node-version: [10.13.x, 12.x, 13.x]

    steps:
      - uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1.1.0
        with:
          node-version: ${{ matrix.node }}
      - name: Install && Lint && Test && Build 
        run: |
          yarn install
          yarn lint
          yarn test
          yarn build
        shell: bash


